
.primary {
  color: #111827; // text-gray-900

  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 50%, #2193b0 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-size: 200% 100%;

  &:hover {
    background-position: 100% 0;
  }
}

.outline {
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;

  &:hover {
    background-color: #ffffff;
    color: #111827;
    opacity: 0.9;
  }
}

.white {
  background-color: #ffffff;
  color: #111827;

  &:hover {
    opacity: 0.9;
  }
}
