
.ProjectTile {
  height: 22rem;
  width: 38rem;
  background: black;
  transform-style: preserve-3d;
  transform: perspective(1000px);

  @media (min-width: 768px) {
    height: 26rem;
  }

  img {
    object-fit: cover;
  }
}

.ProjectImg {
  position: absolute;
  top: 0;
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  width: 16.8rem !important;
  transform: rotate(-22.5deg);
  height: unset !important;
  min-width: unset !important;
  max-height: unset !important;
  object-fit: contain !important;
  left: unset !important;
  right: 2rem !important;
  bottom: unset !important;
}

.techIcons {
  transform: rotate(-22.5deg) translateZ(2rem);
}
